@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    border-radius: none;
    background: rgba(0, 0, 0, 0.3);
  }

  *::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: none;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

@layer utilities {
  .clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 52%, 0 52%);
  }
  .rdw-option-active {
    border: 1px solid black;
  }
  .wrapperClassName h1 {
    font-size: 32px;
    font-weight: bold;
  }
  .wrapperClassName h2 {
    font-size: 24px;
    font-weight: bold;
  }
  .wrapperClassName h3 {
    font-size: 18.72px;
    font-weight: bold;
  }
  .wrapperClassName h4 {
    font-size: 16px;
    font-weight: bold;
  }
  .wrapperClassName h5 {
    font-size: 13.28px;
    font-weight: bold;
  }
  .wrapperClassName h6 {
    font-size: 12px;
    font-weight: bold;
  }
  .wrapperClassName {
    line-height: 1;
  }
}
